:root{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgba(0, 0, 0, .9);
    box-sizing: border-box;
    margin: auto;
}

a {
    color: rgb(128, 128, 128);
    text-decoration: none;
}

a:hover {
    color: rgb(255, 255, 255);
}

.greater--position {
    cursor: pointer;
    float: right;   
    margin-left: 5rem;
}

/*HEADER*/

.header--dark {
    background-color: rgb(51, 57, 64);
    color: rgb(236, 236, 236);
    margin-top: 1.25em;
    padding: .75em;
}

.header__title {
    display: inline;
    font-size: 1.25rem;
    font-weight: 200;
    padding-right: 5rem;
}

.header__form {
    float: right;
}

.header__search {
    display: inline;
}

.search__input {
    border: 2px solid rgb(236, 236, 236);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: .375rem .75rem;
    font-size: 1.2rem;
}

.search__input:focus {
    border: 2px solid rgb(128, 189, 255);
    transition: .15s;
}

.search__btn {
    background-color: rgb(0, 123, 255);
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 1rem;
    margin-left: -5px;
    padding: .6rem;
    position: relative;
    top: -1.2px;
}

.others__btn {
    background-color: transparent;
    border: none;
    color: rgb(122, 122, 122);
    cursor: pointer;
    font-size: 1rem;
    padding: .6rem;
}

/*MAIN-ASIDE*/

.main {
    display: flex;
    width: 100%;
}

.main__aside {
    display: inline-block;
    height: 600px;
    width: 15%;
}

.main__nav {
    background-color: rgb(33, 37, 41);
}

.nav__ul {
    display: inline;
    padding: 0 5px;
}

.li__active {
    color: rgb(128, 128, 128);
    font-size: 1.1rem;
    line-height: 3rem;
    list-style: none;
    margin-left: 15px;
}

.li__active:hover {
    color: rgb(255, 255, 255);
}

.li__inactive {
    color: rgb(128, 128, 128);
    font-size: .7rem;
    line-height: 3rem;
    list-style: none;    
    margin-left: 15px;
}


/*MAIN-CONTENT*/

.content {
    background-color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 1.8rem;
    height: 600px;
    vertical-align: top;
    width: 84.6%;
}

.content h1 {
    padding: 1rem;
}

.main__breadcrumb {
    background-color: rgb(233, 236, 239);
    border-radius: .25rem;
    color: rgb(123, 123, 123);
    font-size: 1rem;
    margin: 1rem;
    padding: 1rem 1.5rem;
}

.main__cards {
    color: rgba(255, 255, 255, .9);
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    padding: 1rem;
}

.main__card {
    border-radius: .25rem;
    width: 16rem;
}

.card__top {
    line-height: 6rem;
    padding: 1rem;
}

.card__bottom {
    line-height: 2rem;
    padding: 1rem;
}

.main__card--blue {
    background-color: rgb(0, 123, 255);
    margin-right: auto;
}

.main__card--yellow {
    background-color: rgb(255, 193, 7);
    margin-right: auto;
}

.main__card--green {
    background-color: rgb(40, 167, 69);
    margin-right: auto;
}

.main__card--red {
    background-color: rgb(220, 53, 69);
}

.main__card--blue .card__top:hover {
    background-color: rgb(0, 119, 247);
    transition: .3s;
}

.main__card--blue .card__bottom:hover {
    background-color: rgb(0, 119, 247);
    transition: .3s;
}

.main__card--yellow .card__top:hover {
    background-color: rgb(247, 186, 7);
}

.main__card--yellow .card__bottom:hover {
    background-color: rgb(247, 186, 7);
}

.main__card--green .card__top:hover {
    background-color: rgb(38, 162, 66);
}

.main__card--green .card__bottom:hover {
    background-color: rgb(38, 162, 66);
}

.main__card--red .card__top:hover {
    background-color: rgb(213, 50, 67);
}

.main__card--red .card__bottom:hover {
    background-color: rgb(213, 50, 67);
}
